*{
    margin: 0px;
    padding: 0px;

}

footer{
    background-color: #212121;
    min-height: auto;
    width: 100%;
    clear: both;
    padding-top: 40px;
    color: white;
    text-align: center;
   justify-content: center;
}

footer p{
    font-weight: bold;
    font-size: 18px;
}

footer .footer-left{

 width: 20%;
 margin-left: 15%;

float: left;
}

footer .footer-left ul li{
    list-style: none;
  font-size: 14px;
  margin: 8px 0px;
   }

.footer-center{

    width: 20%;
    float: left;
    margin-left: 5%;
}

footer .footer-center ul li{
    list-style: none;
    font-size: 14px;
    margin: 8px 0px;
     }
  

.footer-right{
    margin-right: 15%;
    width: 25%;
  
    float: right;
}

.footer-right ul{
    display: inline-flex;
    list-style: none;
}

.footer-right ul li{
    margin: 0 10px;
    font-size: 30px;
}

.fb-page{
    clear: both;
    margin-top: 10px;
}

.footer-bottom{
    clear: both;
    border-top: 1px solid white;
    width: 100%;
    margin-top: 250px;
    line-height: 50px;
    display: block;
}

.footer-bottom p{
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 1088px) {

footer{
    padding-top: 30px;
    min-height: 200px;
    align-items: center;
    
}

.footer-left, .footer-center, .footer-right{
    float: none;
    flex-direction: column;
    
}

footer .footer-left,
.footer-center{
    width: 100%;
    margin-left: 0%;
    padding: 0 10% 0 25%;
    margin-bottom:30px;
    border-bottom: 1px solid gray;
   }

.footer-right{
    text-align: center;
    width: 100%;
}

.footer-left ul,
.footer-center ul,
.footer-right  ul{
    list-style: none;
    margin-bottom: 20px;
   }

   footer .footer-left ul li,
   footer .footer-center ul li,
   footer .footer-right ul li{
    font-size: 2.5vw;
   }

   footer p{
    font-weight: bold;
    font-size: 3.7vw;
    padding: 15px;
}
   
#FacebookProvider{
    display: none;
}

footer .footer-bottom{
    clear: both;
    border-top: 1px solid white;
    width: 100%;
    margin-top: 10px;
    display: block;
    padding-bottom: 0px;
    text-align: left;
}

}