.Container-new {
    width: 100%;
    min-height: 400px;
    background-color: #151514;
    float: none;
    margin-bottom: 50px;
    display: block;
    padding: 30px 0px;
  }

  .Container-new h1 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;

  }
  
  .Container-new .Container-News {
    width: 75%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Container-new .Container-News .Box-New {
    position: relative;
    width: 25%;
    height: 350px;
    background-color: black;
    margin: 10px 10px;
    cursor: pointer;
  }
  
  .Container-new .Container-News .Box-New:hover .Image-New  {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .Container-new .Container-News .Box-New:hover .Image-New img {
    filter: brightness(80%);
  }
  
  .Container-new .Container-News .Box-New .Image-New img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.3s ease;
  }
  
  .Container-new .Container-News .Box-New .Read-New {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    opacity: 0.5; /* Đảm bảo chữ không bị ảnh hưởng bởi hiệu ứng hover */
    transition: opacity 0.3s ease;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: black;
    color: black;
    font-size: 26px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .Container-new .Container-News .Box-New:hover .Read-New {
    opacity: 1;
    filter: brightness(100%);
    transition: opacity 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu chậm */
    text-decoration: underline;
    color: white;
  }
  
  .Container-new .Container-News .Box-New .Name-New {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    opacity: 0.7888; /* Đảm bảo chữ không bị ảnh hưởng bởi hiệu ứng hover */
    transition: opacity 0.3s ease;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #F4F2EE;
    color: black;
    font-size:26px ;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
}

.Container-new .Container-News .Box-New:hover .Name-New {
    opacity: 0;
}

@media only screen and (max-width: 1316px) {
    .Container-new h1 {
        font-size: 25px;
      
      }

    .Container-new .Container-News {
        margin: 0 auto;
        display: contents;
      
      }

      .Container-new .Container-News .Box-New {
        position: relative;
        width: 100%;
        margin: 20px 0px;
        
      }
      
}
