.nav-product{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    
}

.nav-product .Container-item-nav{
   width: 90%;
    min-height: 50px;
   border-bottom:  1px solid black;  
   margin: 0 auto;
}


.nav-product .item-nav-left{
  float: left;
  width: 60%;
}


.item-nav-left #priceFilter,
.item-nav-left #loaiFilter,
.item-nav-left #colorFilter,
.item-nav-right #thutuFilter{
    width: 12%;
    font-size: 18px;
    padding: 8px;
    border:none;
    background:none;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.item-nav-left #loaiFilter{
    width: 9%;
}

.item-nav-left #colorFilter{
    width: 14%;
}

.item-nav-right #thutuFilter{
    width: 100%;
    border: 1px solid black;
    
}

.item-nav-left #priceFilter option,
.item-nav-left #loaiFilter option,
.item-nav-left #colorFilter option{
    font-size: 16px;
    background-color: #fff;
    color: #333;
    padding: 16px;
    border: none; /* Loại bỏ border cho option */
}

#priceFilter option:hover,
#loaiFilter option:hover,
#loaiFilter option:hover{
    background-color: #f0f0f0;
}

#priceFilter option:checked,
#loaiFilter option:checked,
#loaiFilter option:checked{
    background-color: #e6e6e6;
    font-weight: bold;
}


/* Optional: Style for the container or surrounding area */
/* Replace '.container' with the actual class or ID of your container */

.nav-product .item-nav-right{
   float: right;
   width: 10%;
   margin-right: 5px;
}


